 /* Estilos globales */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: hidden;
}

/* Pantalla de carga */
#loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1d4ed8;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    color: white;
    flex-direction: column;
}

.spinner {
    width: 60px;
    height: 60px;
    border: 8px solid rgba(255, 255, 255, 0.3);
    border-top-color: #fff;
    border-radius: 50%;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

h1 {
    margin-top: 20px;
    font-size: 24px;
}