<<<<<<< HEAD
body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(rgba(0, 34, 255, 0.4), rgba(242, 0, 255, 0.4)),
        url(https://www.berger.ca/es/wp-content/uploads/sites/3/2017/05/bkg_invernadero.jpg);
    background-size: cover;
    width: auto;
    height: 855px;
    background-position: center;
    margin: 0;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; /* Ajusta según necesites */
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.column{
    float: left;
    width: 280px;
    height: 200px;
    border: 4px solid;
    border-radius: 3px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.texto {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.imagen{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 120px;
    height: 120px;
}

.button{
    text-align: center;
}

.titulo-container {
    background-color: rgba(15, 15, 15, 0.9);
    padding: 20px;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 128, 0, 0.2);
    text-align: center;
}

h1 {
    font-size: 2em;
    animation: colorChange 5s infinite;
}

@keyframes colorChange {
    0% { color: #8fc98b; }
    50% { color: #6da76d; }
    100% { color: #8fc98b; }
=======
body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(rgba(0, 34, 255, 0.4), rgba(242, 0, 255, 0.4)),
        url(https://www.berger.ca/es/wp-content/uploads/sites/3/2017/05/bkg_invernadero.jpg);
    background-size: cover;
    width: auto;
    height: 855px;
    background-position: center;
    margin: 0;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; /* Ajusta según necesites */
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.column{
    float: left;
    width: 280px;
    height: 200px;
    border: 4px solid;
    border-radius: 3px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.texto {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.imagen{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 120px;
    height: 120px;
}

.button{
    text-align: center;
}

.titulo-container {
    background-color: rgba(15, 15, 15, 0.9);
    padding: 20px;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 128, 0, 0.2);
    text-align: center;
}

h1 {
    font-size: 2em;
    animation: colorChange 5s infinite;
}

@keyframes colorChange {
    0% { color: #8fc98b; }
    50% { color: #6da76d; }
    100% { color: #8fc98b; }
>>>>>>> e286d3dd824c801585381b8490ecb090dceb6472
}