.app-container {
  text-align: center;
  font-family: Arial, sans-serif;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-content: center;
  margin: 20px auto;
}

.game-button {
  background-color: #f0f0f0;
  border: 2px solid #333;
  border-radius: 5px;
  cursor: pointer;
}

.reset-button {
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.reset-button:hover {
  background-color: #45a049;
}

body {
  background-color: #f3f4f6; /* Fondo claro y limpio */
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la altura de la ventana */
}

.game-container {
  background: #ffffff; /* Fondo blanco */
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  text-align: center;
  width: 90%;
  max-width: 600px;
}

h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.current-player {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 20px;
  color: #555;
}

footer {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #666;
}

/* Estilo de los botones */
button.reset-button {
  background-color: #4caf50; /* Verde suave */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  margin: auto;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.reset-button:hover {
  background-color: #45a049; /* Verde oscuro al pasar el mouse */
}

/* Estilos para el juego de Wordle */
.wordle-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.wordle-left,
.wordle-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: -30px;
}

h1 {
  font-size: 2em;
  margin-bottom: auto;
}

.wordle-intentos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.wordle-intento {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.wordle-letra {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid #d3d6da;
  background-color: white;
}

.wordle-letra.gray {
  background-color: #787c7e;
  color: white;
}

.wordle-letra.yellow {
  background-color: #c9b458;
  color: white;
}

.wordle-letra.green {
  background-color: #6aaa64;
  color: white;
}

.wordle-keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  max-width: 300px;
}

.wordle-key {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #d3d6da;
  border-radius: 5px;
  background-color: #e0e0e0;
  text-align: center;
  font-weight: bold;
}

.wordle-key.gray {
  background-color: #787c7e;
  color: white;
}

.wordle-key.yellow {
  background-color: #c9b458;
  color: white;
}

.wordle-key.green {
  background-color: #6aaa64;
  color: white;
}

.wordle-input-container {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.wordle-input {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid #d3d6da;
}

/* ------------------------------------- 
Estilos para el juego de conecta 4 
-------------------------------------- */
:root {
  --size: 80px;
  --p1: #f1bf3a;
  --p2: #ec0b07;
}

.conecta4-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -80px;
}

.conecta4-board {
  display: grid;
  grid-template-columns: repeat(7, var(--size));
  grid-template-rows: repeat(6, var(--size));
  position: relative;
}

.conecta4-board div {
  background: url('../clip.svg');
}

.conecta4-drop-zone {
  height: calc(var(--size) * 1.2);
  background: linear-gradient(to bottom, #1e3c72, #2a5298);
  border-radius: 15px 15px 0px 0px;
}

.conecta4-drop-zone div {
  width: calc(var(--size) * 0.96);
  height: calc(var(--size) * 0.96);
  border-radius: 50%;
  position: absolute;
}

.conecta4-winner-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.conecta4-winner-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  animation: popup 0.3s ease-in-out; /* Animaci贸n de aparici贸n */
}

.conecta4-drop-zone .p1 {
  background-color: var(--p1);
}

.conecta4-drop-zone .p2 {
  background-color: var(--p2);
}

.conecta4-drop-zone .active {
  transition: all 0.5s ease-in-out;
}

.conecta4-drop-zone .active.column-0 {
  margin-left: 0;
}
.conecta4-drop-zone .active.column-1 {
  margin-left: calc(var(--size) * 1);
}
.conecta4-drop-zone .active.column-2 {
  margin-left: calc(var(--size) * 2);
}
.conecta4-drop-zone .active.column-3 {
  margin-left: calc(var(--size) * 3);
}
.conecta4-drop-zone .active.column-4 {
  margin-left: calc(var(--size) * 4);
}
.conecta4-drop-zone .active.column-5 {
  margin-left: calc(var(--size) * 5);
}
.conecta4-drop-zone .active.column-6 {
  margin-left: calc(var(--size) * 6);
}

.conecta4-drop-zone .active.row-0 {
  transform: translateY(calc(var(--size) * 1.26));
}
.conecta4-drop-zone .active.row-1 {
  transform: translateY(calc(var(--size) * 2.2));
}
.conecta4-drop-zone .active.row-2 {
  transform: translateY(calc(var(--size) * 3.2));
}
.conecta4-drop-zone .active.row-3 {
  transform: translateY(calc(var(--size) * 4.2));
}
.conecta4-drop-zone .active.row-4 {
  transform: translateY(calc(var(--size) * 5.2));
}
.conecta4-drop-zone .active.row-5 {
  transform: translateY(calc(var(--size) * 6.2));
}

.conecta4-drop-zone .active.active.column--.row-- {
  transition: none;
}

.conecta4-drop-zone p {
  display: grid;
  place-content: center;
}

/*  Estilos espec铆ficos para m贸viles */
@media (max-width: 500px) {
  .wordle-container {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .wordle-input {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }

  .wordle-key {
    width: 35px;
    height: 35px;
    font-size: 14px;
  }
  /* Adaptacones para conecta 4*/
  :root {
    --size: 50px;
    --p1: #f1bf3a;
    --p2: #ec0b07;
  }

  .conecta4-drop-zone .active {
    position: absolute;
    transition: margin-left 0.3s, transform 0.3s;
  }

  .conecta4-drop-zone .active.column-0 {
    margin-left: calc(var(--size) * 0);
  }
  .conecta4-drop-zone .active.column-1 {
    margin-left: calc(var(--size) * 1);
  }
  .conecta4-drop-zone .active.column-2 {
    margin-left: calc(var(--size) * 2);
  }
  .conecta4-drop-zone .active.column-3 {
    margin-left: calc(var(--size) * 3);
  }
  .conecta4-drop-zone .active.column-4 {
    margin-left: calc(var(--size) * 4);
  }
  .conecta4-drop-zone .active.column-5 {
    margin-left: calc(var(--size) * 5);
  }
  .conecta4-drop-zone .active.column-6 {
    margin-left: calc(var(--size) * 6);
  }

  .conecta4-drop-zone .active.row-0 {
    transform: translateY(
      calc(var(--size) * 1.26)
    ); /* Ajustado para una mejor alineaci贸n */
  }
  .conecta4-drop-zone .active.row-1 {
    transform: translateY(calc(var(--size) * 2.2));
  }
  .conecta4-drop-zone .active.row-2 {
    transform: translateY(calc(var(--size) * 3.2));
  }
  .conecta4-drop-zone .active.row-3 {
    transform: translateY(calc(var(--size) * 4.2));
  }
  .conecta4-drop-zone .active.row-4 {
    transform: translateY(calc(var(--size) * 5.2));
  }
  .conecta4-drop-zone .active.row-5 {
    transform: translateY(calc(var(--size) * 6.2));
  }
}
